body {
  background-color: #f8f9fa;
}
.sidebar {
  height: 100vh;
  background:  linear-gradient(to bottom, rgb(14, 25, 130), rgb(34, 46, 128), rgb(45, 58, 128))  ;
  color: white;
  padding-top: 1rem;
}
.sidebar a {
  color: white;
  text-decoration: none;
  padding: 0.75rem 1rem;
  display: block;
  border-radius: 0.375rem;
}
.sidebar a.active, .sidebar a:hover {
  background-color: rgb(31, 51, 163);
}
.content {
  padding: 2rem;
}
.card-icon {
  font-size: 2rem;
}
body {
  background-color: #f8f9fa;
}

.sidebar {
  height: 100vh;
  background: linear-gradient(to bottom, rgb(14, 25, 130), rgb(34, 46, 128), rgb(45, 58, 128));
  color: white;
  padding-top: 1rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 0.75rem 1rem;
  display: block;
  border-radius: 0.375rem;
}

.sidebar a.active, .sidebar a:hover {
  background-color: rgb(31, 51, 163);
}

.content {
  padding: 2rem;
}

.card-icon {
  font-size: 2rem;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white; 
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 0.375rem; 
  transform: translateX(35px);
}

.dropdown-container:hover .dropdown-menu {
  display: block;
  background: linear-gradient(to bottom, rgb(14, 25, 130), rgb(34, 46, 128), rgb(45, 58, 128));
}

.dropdown-menu a {
  
  color: #ffffff; 
  padding: 0.75rem 1rem; 
  display: block;
  text-decoration: none;
  text-align: left;
  border-radius: 0.375rem; 
}

.dropdown-menu a:hover {
  background-color: rgb(31, 51, 163);
}